<script>
    let form = $('form').first();
    form.submit(function (e) {
        e.preventDefault();

        var valid = form.valid();
        if (valid) {
            Save();
        }
    });
    function Save() {
        var ArrayObj = [];
        $.each(ddlStations.val(), function (k, v) {
            var obj = new Object();

            obj.ID = $('#txtId').val();
            obj.UserId = ddlUsers.val();
            obj.StationId = v;
            ArrayObj.push(obj);
        });

        $.post('@Url.GetAction("Save")', { mdl: ArrayObj} , function (res) {

            if (res.status) {
                alertify.success(res.message);
                form[0].reset();
                $('#tbl').DataTable().ajax.reload();
            }
            else {
                alertify.alert(res.message).setHeader('@AppConstants.Messages.StopTitle');

            }




        });

    }
    function LoadTable() {
        $('#tbl').DataTable().destroy();
            dt = $('#tbl').DataTable({ "columnDefs": [{ "defaultContent": "-", "targets": "_all" }],

                pageLength: 20,
                pagijngType: "full_numbers",
                serverSide: true,
                processing: true,
                lengthMenu: [ 10, 25, 50, 75, 100 ],
                sAjaxSource: '@Url.GetAction("LoadDataTable")',
                sServerMethod: "POST",
                bPaginate: true,
                paging: true,
                dom: 'Blfrtip',
                buttons: [


                ],
                columns: [



                    {
                        data: null,
                        bSortable: false,
                        render: function (data, type, row, meta) {
                            return '<input type="hidden" name="' + data.userName + '" value="' + data.id + '"> <label style="display:none;" name="CityId" CityId="' + data.cityId + '"></label> <label style="display:none;" name="DistrictId" DistrictId="' + data.districtId + '"></label> <label>' + (meta.row + meta.settings._iDisplayStart + 1) + '</label>';
                        }

                    },



                    {
                        data: null,
                        bSortable: false,
                        render: function (data, type, row) { return '<label name="UserId" UserId="' + data.userId +'" >' + (data.userName ?? "") + '</label>' }

                    },
                    {
                        data: null,
                        bSortable: false,
                        render: function (data, type, row) { return '<label name="StationId" StationId="' + data.stationId+'"    >' + (data.stationName ?? "") + '</label>' }

                    },

                    {
                        data: null,
                        bSortable: false,
                        render: function (data, type, row) { return '<label>' + (data.addedDate ?? "") + '</label>' }

                    },



                    {

                        data: null,
                        bSortable: false,
                        render: function (data, type, row) {
                            let btn = '';

                            btn += '<button title="تعديل"  type="button" onclick="Edit(this)" class="btn btn-info" style="margin:5px"><i class="fa fa-pencil"></i></button>';
                            btn += '<button title="حذف"  type="button" onclick="Delete(this)" class="btn btn-info"><i class="fa fa-trash"></i></i></button>';

                            return btn;

                        }
                    }
                ]
            });

        }



  //#region Delete

        function Delete(e) {

        alertify.confirm().setting('modal', false);

        var btn = $(e);
        var id = $(btn.closest('tr')).find('input[type=hidden]').val();
        alertify.confirm('هل انت متاكد من اجراء العملية', '', function () {

            $.post('@Url.GetAction("Delete")', {id:id}, function (res) {

                 if (res.status) {
                     alertify.success(res.message);
                     btn.closest('tr').remove();


                }
                else {
                    alertify.alert(res.message).setHeader('توقف');

                }




            });

        },

            function () { }
        ).set('labels', { ok: 'نعم', cancel: 'لا' });
    }
        //#endregion
    function Edit(e) {
        var btn = $(e);
        var tr = $(btn.closest('tr'));
        var id = tr.find('input[type=hidden]').val();

        var UserName = tr.find('label[name=UserName]').text();
        var Email = tr.find('label[name=Email]').text();
        var IsActive = tr.find('input[name=IsActive]').prop('checked');
        var CityId = tr.find('label[name=CityId]').attr('CityId');
        var DistrictId = tr.find('label[name=DistrictId]').attr('DistrictId');

        var UserId = tr.find('label[name=UserId]').attr('UserId');
        var StationId = tr.find('label[name=StationId]').attr('StationId');

        console.log(IsActive);
        $('#txtUserName').val(UserName);
        $('#txtEmail').val(Email);
        $('#chkIsActive').prop('checked', IsActive);

        LoadCities(CityId);
        LoadDistricts(CityId, DistrictId);
        LoadUsers(CityId, UserId);
        LoadStations(DistrictId, StationId);
        $('#txtId').val(id);

        window.scrollTo(0, 0);

    }

    var ddlDistricts = $('#ddlDistricts');
    var ddlStations = $('#StationId');
    var ddlUsers = $('#UserId');
    var ddlCities = $('#ddlCities');

    $(document).ready(function () {
        LoadCities();
        LoadTable();

    });

    //#region Helpers

    function LoadCities(id) {
          $.post('@Url.GetAction("LoadCities")', {  }, function (res) {
              ddlCities.children().remove();
              $.each(res, function (k, v) {
                  if (id==v.id) {
                      ddlCities.append(`<option selected='' value='${v.id}'>${v.name}</option>`);
                      ddlCities.trigger('change');
                      return;
                  }
                  else
                ddlCities.append(`<option value='${v.id}'>${v.name}</option>`);
            });
              ddlCities.trigger('change');

        });
    }
    function LoadDistricts(cityId,id) {
        if (cityId == '@Guid.Empty') {
            return;
        }
        LoadUsers(cityId);
        $.post('@Url.GetAction("LoadDistricts")', { CityId: cityId }, function (res) {
            ddlDistricts.children().remove();
            $.each(res, function (k, v) {
                if (id == v.id) {
                    ddlDistricts.append(`<option selected='' value='${v.id}'>${v.name}</option>`);
                    ddlDistricts.trigger('change');

                    return;
                }
                else
                    ddlDistricts.append(`<option value='${v.id}'>${v.name}</option>`);
            });
            ddlDistricts.trigger('change');

        });
    }
    function LoadUsers(cityId,id) {
        if (cityId == '@Guid.Empty') {
            return;
        }

        $.post('@Url.GetAction("LoadUsers")', { CityId: cityId }, function (res) {
            ddlUsers.children().remove();
            $.each(res, function (k, v) {
                if (id == v.id) {
                    ddlUsers.append(`<option selected='' value='${v.id}'>${v.userName}</option>`);
                    return;
                }
                else
                    ddlUsers.append(`<option value='${v.id}'>${v.userName}</option>`);
            });

        });
    }
    function LoadStations(districtId, id) {
        $.ajax({
            type: "POST",
            url: '@Url.GetAction("LoadStaions")',
            data: { DistrictId: districtId },
            async: false,
            dataType: "json",
            success: function (res) {
                ddlStations.children().remove();
                $.each(res, function (k, v) {
                    if (id == v.id) {
                        ddlStations.append(`<option selected='' value='${v.id}'>${v.name}</option>`);
                        console.log('id ' + id);
                        $('#StationId').val(id).trigger('change')
                        return;
                    }
                    else
                        ddlStations.append(`<option value='${v.id}'>${v.name}</option>`);
                });
            },
            error: function () {
            }
        });
    
    }



    //#endregion

    function SelectAllStation() {
        var btnSelectAll = $('#btnSelectAll');
        var SelectAll = btnSelectAll.attr('SelectAll')=='true';
        $('#StationId option').attr('selected', SelectAll).parent().trigger('change');

        btnSelectAll.attr('SelectAll', !SelectAll);
        if (SelectAll == true) {
            btnSelectAll.text( 'الغاء التحديد')

        }
        else {
            btnSelectAll.text('تحديد الكل')

        }
    }
</script>